html, body {
	width: 100%;
	height: 100%;
	font-family: Arial;
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

#euleBild{

	position: absolute;
	height: 100px;
	width : 100px;
	top: 10px;
	left:10px;

}

#kategorieBildContainer {
	position: absolute;
	right: 10px;
	height: 100px;
	width: 100px;
	top: 10px;
	text-align: center;
}

#kategorieBild {
	max-height: 100%;
	max-width: 100%;
}

#kategorieName {
	display: none;
	position: absolute;
	left: 780px;
	top: 240px;
	width: 250px;
	
	font-size: 40px;
	line-height: 40px;
	
}

#btn-nochmal-spielen{

position: absolute;
width:  100px;
height: 100px;
top: 30px;
left :190px;


}


#btn-foto{

position: absolute;
width: 100px;
height: 100px;
top: 120px;
right :55%;




}


#btn-bilder{

position: absolute;
width: 100px;
height: 100px;
top: 120px;
left:55%;

}





#navBottom {
	list-style: none;
	position: absolute;
	bottom: 3%;
	right: 10px;
}

#navBottom > li {
	display: inline-block;
	margin: 0 5px;
}

#navBottom > li > a > img {
	height: 60px;
	width: 60px;
}