html, body {
	width: 960px;
	height: 640px;
	font-family: Arial;
}

* {
	margin: 0;
	padding: 0;
}

#kategorieText{
	position: absolute;
	font-weight: bold;
	font-size: 32pt;
	z-index: 3;
	text-align: center;
	right: 30px;
	top: 20px;
}

a img {
	border: 0;
}

div.container{
	position: absolute;
	height: 187.5px;
	width: 187.5px;
	filter: Alpha(opacity=80);
    opacity: 0.8;
    moz-opacity: 0.8;
	background-color: white;
	border-bottom-left-radius: 25px 25px;
    border-bottom-right-radius: 25px 25px;
    border-top-left-radius: 25px 25px;
    border-top-right-radius: 25px 25px;
}
img.system{
	height: 62.5px;
	width: 62.5px;
}
img.begriffbild{
	position: absolute;
	height: 125px;
	width: 125px;
	z-index: 2;
}
p.text{
	position: absolute;
	font-weight: bold;
	font-size: 25pt;
	z-index: 3;
}
#help{
	position: absolute;
	bottom: 20px;
	right: 170px;
}
#map{
	position: absolute;
	bottom: 20px;
	right: 90px;
}
#home{
	position: absolute;
	bottom: 20px;
	right: 10px;
}

#pfeil{
	position: absolute;
	bottom: 150px;
	right: 100px;
	height: 104px;
	width: 104px;
	z-index: 3;
}
#img1{
	left: 109px;
	top: 100px;
}
#img2{
	left: 346px;
	top: 100px;
}
#img3{
	left: 580px;
	top: 100px;
}
#img4{
	left: 224px;
	top: 360px;
}
#img5{
	left: 465.5px;
	top: 360px;
}

#con1{
	left: 78px;
	top: 90px;
}
#con2{
	left: 315px;
	top: 90px;
}
#con3{
	left: 549px;
	top: 90px;
}
#con4{
	left: 193px;
	top: 350px;
}
#con5{
	left: 434.5px;
	top: 350px;
}

#txt1{
	left: 78px;
	top: 220px;
}
#txt2{
	left: 315px;
	top: 220px;
}
#txt3{
	left: 549px;
	top: 220px;
}
#txt4{
	left: 193px;
	top: 480px;
}
#txt5{
	left: 434.5px;
	top: 480px;
}
