html, body {
	width: 100%;
	height: 100%;
	font-family: Arial;
}

* {
	margin: 0;
	padding: 0;
}

#kategorieText{
	position: absolute;
	font-weight: bold;
	font-size: 16pt;
	z-index: 3;
	text-align: center;
	right: 20px;
	top: 15px;
}

a img {
	border: 0;
}

div.container{
	position: absolute;
	height: 94px;
	width: 	94px;
	filter: Alpha(opacity=80);
    opacity: 0.8;
    moz-opacity: 0.8;
	background-color: white;
	border-bottom-left-radius: 25px 25px;
    border-bottom-right-radius: 25px 25px;
    border-top-left-radius: 25px 25px;
    border-top-right-radius: 25px 25px;
}
img.system{
	height: 55px;
	width: 55px;
}
img.begriffbild{
	position: absolute;
	height: 68px;
	width: 68px;
	z-index: 2;
}
p.text{
	position: absolute;
	font-weight: bold;
	font-size: 10pt;
	z-index: 3;
}
#help{
	position: absolute;
	bottom: 10px;
	right: 145px;
}
#map{
	position: absolute;
	bottom: 10px;
	right: 75px;
}
#home{
	position: absolute;
	bottom: 10px;
	right: 5px;
}

#pfeil{
	position: absolute;
	bottom: 75px;
	right: 40px;
	height: 80px;
	width: 80px;
	z-index: 3;
}
#img1{
	left: 52px;
	top: 50px;
}
#img2{
	left: 171px;
	top: 50px;
}
#img3{
	left: 288px;
	top: 50px;
}
#img4{
	left: 110px;
	top: 155px;
}
#img5{
	left: 231px;
	top: 155px;
}

#con1{
	left: 39px;
	top: 45px;
}
#con2{
	left: 158px;
	top: 45px;
}
#con3{
	left: 275px;
	top: 45px;
}
#con4{
	left: 97px;
	top: 150px;
}
#con5{
	left: 217px;
	top: 150px;
}

#txt1{
	left: 12px;
	top: 117px;
}
#txt2{
	left: 133px;
	top: 117px;
}
#txt3{
	left: 243px;
	top: 117px;
}
#txt4{
	left: 72px;
	top: 222px;
}
#txt5{
	left: 205px;
	top: 222px;
}
