html, body {
	width: 100%;
	height: 100%;
	font-family: Arial;
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

#kategorieBildContainer {
	position: absolute;
	right: 10px;
	height: 30%;
	width: 20%;
	top: 0px;
	text-align: center;
}

#kategorieBild {
	max-height: 100%;
	max-width: 100%;
}

#kategorieName {
	position: absolute;
	right: 10px;
	top: 30%;
	width: 20%;
	
	font-size: 40px;
	line-height: 40px;
	text-align: center;
}

#begriffBildContainer {
	position: absolute;
	top: 30%;
	height: 60%;
	left: 10px;
	z-index: -1;
	text-align: center;
}

#begriffBild {
	max-height: 100%;
	max-width: 100%;
}

#buchstabenContainer {
	position: absolute;
	left: 25%;
	top: 40%;
	width: 65%;
	height: 40%;
}

#buchstabenPlatzhalter {
	text-align: center;
	width: 100%;
	height: 50%;
	max-height: 90px;
}

#buchstabenPlatzhalter > li {
	display: inline-block;
	margin: 0 5px;
	height: 78px;
	width: 69px;
	
	background: rgba(255,255,255,0.8);
}

.buchstabeTrenner {
	display: inline-block;
	position: relative;
	height: 100%;
	--max-height: 1px;
}

#buchstaben {
	width: 100%;
	height: 50%;
	position: relative;
}

#weiterButton {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80px;
	height: 80px;
	margin-left: -40px;
	margin-top: -40px;
	z-index: 99999;
}

#weiterButton > img {
	height: 80px;
	width: 80px;
}

.buchstabe {
	position: absolute;
	height: 80px;
	width: 80px;
	background-size: 100% 100%;
}

#navBottom {
	list-style: none;
	position: absolute;
	bottom: 3%;
	right: 10px;
}

#navBottom > li {
	display: inline-block;
	margin: 0 5px;
}

#navBottom > li > a > img {
	height: 60px;
	width: 60px;
}