html, body {
	width: 1024px;
	height: 768px;
	font-family: Arial;
}

* {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

#kategorieBild {
	position: absolute;
	height: 225px;
	width: 225px;
	top: 20px;
	left: 780px;
}

img.system{
	height: 75px;
	width: 75px;
}

#help{
	position: absolute;
	top: 675px;
	left: 775px;
}
#map{
	position: absolute;
	top: 675px;
	left: 850px;
}
#home{
	position: absolute;
	top: 675px;
	left: 925px;
}
#eule{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 250px;
	width: 250px;
}
#pfeil{
	position: absolute;
	top: 535px;
	left: 875px;
	height: 125px;
	width: 125px;
	display: none;
	z-index: 3;
}
#hackerl{
	position: absolute;
	top: 522.5px;
	left: 50px;
	height: 150px;
	width: 150px;
	display: none;
	z-index: 3;
}