html, body {
	width: 100%;
	height: 100%;
	font-family: Arial;
}

* {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

#kategorieBildContainer {
	position: absolute;
	right: 10px;
	height: 30%;
	width: 20%;
	top: 0px;
	text-align: center;
}

#kategorieBild {
	max-height: 100%;
	max-width: 100%;
}

#kategorieName {
	position: absolute;
	right: 10px;
	top: 30%;
	width: 20%;
	
	font-size: 40px;
	line-height: 40px;
	text-align: center;
}

#navBottom {
	list-style: none;
	position: absolute;
	bottom: 3%;
	right: 10px;
}

#navBottom > li {
	display: inline-block;
	margin: 0 5px;
}

#navBottom > li > a > img {
	height: 60px;
	width: 60px;
}